
<div class="main-container">
  <header class="header-1">
    <div class="branding">
      <div class="nav-link">
        <clr-icon shape="bank"></clr-icon>
        <span class="title">SharePay</span>
      </div>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row clr-justify-content-center">
        <div class="clr-col-12">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
